{{!-- {{#each values}}
  <h1>{{}}.{{this}}</h1>
{{/each}} --}}

{{!-- <h1>{{person.name}}</h1>
<h2>{{person.comments.comment}}</h2>
<h2>{{person.comments.date}}</h2> --}}

{{#if person.admine}}

  <h1>this real user </h1>

{{else}}

  <h1>this is normal user</h1>

{{/if}}